* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_45 {
  width: 100%;
  height: 1117px;
  background: rgba(64,66,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_46 {
  width: 100%;
  height: 102px;
  background: rgba(40,41,47,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_47 {
  width: 100%;
  height: 102px;
  background: rgba(35,37,42,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4_49 {
  width: 670px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 718px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_56 {
  width: 194px;
  height: 102px;
  background: rgba(27,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 121px;
  overflow: hidden;
}
.v11_25 {
  width: 316px;
  height: 69px;
  background: rgba(27,28,29,1);
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 71px;
  overflow: hidden;
}
.v4_57 {
  width: 70px;
  height: 60px;
  background: linear-gradient(rgba(0,193,255,1), rgba(252,0,121,1));
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 138px;
}
.v4_58 {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 221px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_64 {
  width: 449px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 160px;
  left: 79px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_102 {
  width: 418px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 896px;
  left: 144px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4_65 {
  width: 5px;
  height: 291px;
  background: linear-gradient(rgba(0,193,255,1), rgba(252,0,121,1));
  opacity: 1;
  position: absolute;
  top: 231px;
  left: 81px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v4_66 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 78px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v4_67 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 305px;
  left: 44px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_68 {
  width: 370px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 520px;
  left: 204px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_69 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 558px;
  left: 37px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_70 {
  width: 371px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 385px;
  left: 210px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_71 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 423px;
  left: 44px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_104 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 805px;
  left: 37px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_72 {
  width: 101px;
  height: 101px;
  background: url("../assets/postGameSelection1_img/v4_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 71px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v4_73 {
  width: 102px;
  height: 102px;
  background: url("../assets/postGameSelection1_img/v4_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 71px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v4_74 {
  width: 102px;
  height: 102px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 71px;
  border-radius: 50%;
}
.v4_75 {
  width: 102px;
  height: 102px;
  background: url("../assets/postGameSelection1_img/v4_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 71px;
  overflow: hidden;
}
.v4_76 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 654px;
  left: 78px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v4_77 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 687px;
  left: 37px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_78 {
  width: 371px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 766px;
  left: 203px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_79 {
  width: 103px;
  height: 103px;
  background: url("../assets/postGameSelection1_img/v4_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 636px;
  left: 63px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v4_80 {
  width: 103px;
  height: 103px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 63px;
  border-radius: 50%;
}
.v4_81 {
  width: 103px;
  height: 103px;
  background: url("../assets/postGameSelection1_img/v4_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 63px;
  overflow: hidden;
}
.v4_105 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 267px;
  left: 78px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v4_106 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 305px;
  left: 44px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_108 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 558px;
  left: 37px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_109 {
  width: 371px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 385px;
  left: 210px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_110 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 423px;
  left: 44px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_111 {
  width: 101px;
  height: 101px;
  background: url("../assets/postGameSelection1_img/v4_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 71px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v4_112 {
  width: 102px;
  height: 102px;
  background: url("../assets/postGameSelection1_img/v4_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 71px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v4_113 {
  width: 102px;
  height: 102px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 71px;
  border-radius: 50%;
}
.v4_114 {
  width: 102px;
  height: 102px;
  background: url("../assets/postGameSelection1_img/v4_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 71px;
  overflow: hidden;
}
.v4_115 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 654px;
  left: 78px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v4_116 {
  width: 474px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 687px;
  left: 37px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_117 {
  width: 371px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 766px;
  left: 203px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_118 {
  width: 103px;
  height: 103px;
  background: url("../assets/postGameSelection1_img/v4_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 636px;
  left: 63px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v4_119 {
  width: 103px;
  height: 103px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 63px;
  border-radius: 50%;
}
.v4_120 {
  width: 103px;
  height: 103px;
  background: url("../assets/postGameSelection1_img/v4_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 63px;
  overflow: hidden;
}
.v6_170 {
  width: 817px;
  height: 691px;
  background: rgba(103,106,116,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 718px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_169 {
  width: 645px;
  height: 495px;
  background: url("../assets/postGameSelection1_img/v6_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 796px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v22_235 {
  width: 275px;
  height: 69px;
  background: rgba(27,28,29,1);
  opacity: 1;
  position: absolute;
  top: 975px;
  left: 1289px;
  overflow: hidden;
}
.v22_236 {
  width: 418px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 971px;
  left: 1362px;
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_172 {
  width: 449px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 205px;
  left: 964px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Mplus 1p Bold;
  font-weight: Bold;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v22_109 {
  width: 77px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 925px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v22_115 {
  width: 77px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 1027px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v22_118 {
  width: 77px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 793px;
  left: 1336px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v22_110 {
  width: 77px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 821px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
